@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;800&display=swap');
.App{
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
}

.no-data-container{
    width: 100%;
    height: 600px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.no-data-content{
    display: block;
}

h1{
    font-size: 30px;
}

p{
    font-size: 15px;
}


.MuiPaper-root .MuiTable-root .MuiTableHead-root .MuiTableRow-root .MuiTableCell-root{
    font-weight: 800;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.MuiPaper-root .MuiTable-root .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root{
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.MuiPaper-root .MuiTable-root .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root img{
    border-radius: 50%;
}
